<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <title>思い出話投稿システム</title>
    <style>
        .highlighted {
            background-color: yellow;
        }
    </style>
</head>

<a href="/logout">ログアウトする</a>

<body>
    <header>
        <h2>思い出話投稿システム</h2>
    </header>
    <main>
        <div id="box">
            <img src="\static\images\{{ link }}">
                <a href="/index">写真を変える</a>
                <form id="parse" action="/parse" method="POST">
                    <textarea name="origin-body" id="inputText" placeholder="思い出話を入力してください" rows="5"></textarea>
                    <div id="button">
                        <button onclick="alertMessage()">入力完了</button>
                    </div>
                    <input type="hidden" name="URL_id" value={{URL_id}}>
                    <input type="hidden" name="link" value={{link}}>
                </form>
                    <p id="displayText">{{parsed_body|safe}}</p>
                <form id="form" action="/index" method="POST">
                    <div id="button">
                        <button onclick="resetSelectedStrings()" type="button">リセット</button>
                        <button onclick="undopop()" type="button">1つ戻る</button>
                        <button type="button" id="removeDuplicatesButton" style="display: none;"
                            onclick="removeDuplicates()">選択完了</button>
                    </div>
                    <input type="hidden" name="URL_id" value={{URL_id}}>
                    <input type="hidden" name="body" value="" id="secretField">
                    <input type="hidden" name="parsed_body" value= '{{parsed_body|safe}}' id="parsed_body">
                </form>
                <p hidden id = "defotext">{{parsed_body|safe}}</p>
        </div>

    </main>

    <script>
        var removeDuplicatesButton = document.getElementById('removeDuplicatesButton');
        var undolist = [];

        document.addEventListener('DOMContentLoaded', function() {
            updateTextarea(); // ページ読み込み時にtextareaを更新
            reflectText();
            loadHighlightedSpans();
        });


        function updateTextarea() {
        var displayTextContent = document.getElementById('displayText').textContent;
        var inputTextarea = document.getElementById('inputText');
        inputTextarea.value = displayTextContent; // textareaの値をdisplayTextのtextContentで更新
        }

        function alertMessage(){
            alert('少々お待ちください');
        }

        // 入力完了ボタン
        function undopush() {
            var displayText = document.getElementById('displayText').innerHTML;
            var last = undolist.slice(-1)[0];
            if (displayText !== last){
                undolist.push(displayText);
            }
        }
        function undopop() {
            var displayText = document.getElementById('displayText');
            var parsedBody = document.getElementById('defotext').innerHTML;
            if(undolist.length == 0){
                displayText.innerHTML = parsedBody;
            }else{
                displayText.innerHTML = undolist.pop();
            }
        }
        function reflectText() {
            var displayText = document.getElementById('displayText');
            displayText.onmouseup = highlightSelection; // マウスで選択すると highlightSelection を呼び出し
            updateRemoveDuplicatesButton(); // 選択完了ボタンの表示可否機能の呼び出し
        }

        function loadHighlightedSpans() {
            var highlightedSpans = document.querySelectorAll('#displayText .highlighted');
            highlightedSpans.forEach(function(span) {
                var range = document.createRange();
                range.selectNodeContents(span);
                span.onclick = function() {
                    if (span.parentElement) {
                        span.outerHTML = span.innerHTML; // クリックで <span> タグを取り外す
                        undopush();
                    }
                };
            });
        }


        // ハイライトの設定
        function highlightSelection() {
            var selection = window.getSelection();
            var selectionRange = selection.getRangeAt(0);
            var selectionText = selection.toString().trim();
            var parent = selectionRange.commonAncestorContainer;

            if (selectionText !== '') {
                if (parent !== 'SPAN'){
                    var spans = document.querySelectorAll('.highlighted');
                    spans.forEach(function (span) {
                        var spanText = span.textContent;
                        if (spanText == selectionText) {
                            return;
                        };
                    });
                    var tag = document.createElement('span');
                    tag.className = 'highlighted';
                    selectionRange.surroundContents(tag); // クラス名が highlighted の span タグで囲む
                    updateRemoveDuplicatesButton();
                    undopush();
                    tag.onclick = function () {
                        if (tag.parentElement) {
                            tag.outerHTML = tag.innerHTML; // クリックで <span> タグを取り外す
                            updateRemoveDuplicatesButton();
                            undopush();
                        }
                    };
                };
            };
        }

        // リセットボタン
        function resetSelectedStrings() {
            var parsedBody = document.getElementById('defotext').innerHTML;
            var displayText = document.getElementById('displayText');
            displayText.innerHTML = parsedBody;
            updateRemoveDuplicatesButton();
            undopush();
        }

        // 選択完了ボタンの表示
        function updateRemoveDuplicatesButton() {
            var displayText = document.getElementById('displayText');
            if (displayText.textContent.trim() === '') {
                removeDuplicatesButton.style.display = 'none';
            } else {
                removeDuplicatesButton.style.display = document.querySelector('.highlighted') ? 'inline-block' : 'none';
            }
        }

        // 選択完了ボタン
        function removeDuplicates() {
            var form = document.getElementById('form');
            var request = document.getElementById('secretField');
            var body = document.getElementById('displayText').innerHTML;

            request.value = body;

            form.appendChild(request);
            form.submit();
        }
    </script>
</body>

</html>